fastapi
opentelemetry-api
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-logging
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-sqlalchemy
opentelemetry-sdk
requests
sqlalchemy
uvicorn
itsdangerous
