# NOTE: also update pyproject.toml
asgiref
fastapi
itsdangerous
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-prometheus
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-logging
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-sqlalchemy
opentelemetry-instrumentation-system-metrics
opentelemetry-sdk
pydantic
requests
sqlalchemy
starlette
uvicorn